body {
    background: #0d0d0d;
    overflow: hidden;   
}

.grain-animation {
  height: 400vh;
  width: 400vw;
  background-image: url("../../../../public/images/noise.webp");
  animation: grain 8s steps(10) infinite;
  position: fixed;
  /* top:calc(50% - 400vh / 2);
  left:calc(50% - 400vw / 2); */
    top: calc(50% - 200vh); /* tính toán lại */
  left: calc(50% - 200vw);
  z-index: -1;
  overflow-y:hidden
}

@keyframes grain {
  0%, 100% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(-5%, -25%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}



@keyframes grain {
  0%, 100% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(-5%, -25%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}