@import "tailwindcss";


:root {
  --background: #f5f4f2;
  --foreground: #171717;
}

@theme  {
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-playfair);
  --color-black: #1d1d1d;
  --color-gray-neutral-100: #edecea;
  --color-gray-neutral-200: #e8e7e5;
  --color-gray-neutral-300: #dbdad8;
  --color-gray-neutral-400: #aaaaaa;
  --color-gray-neutral-500: #727170;
  --color-gray-neutral-600: #69696c;
}

.container {
  margin: auto;
  padding-inline: 1rem;
}

.container-md {
  width: 100%;
  max-width: var(--breakpoint-md);
}





body {
  background: var(--background);
}