@import "tailwindcss";


:root {
  --background: #f5f4f2;
  --foreground: #171717;
}

@theme  {
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-playfair);
  --color-black: #0d0d0d;
  --color-gray-text:#727170;
  --color-gray:#e8e7e5;
  --color-gray-darker:#edecea
}

.container {
  margin: auto;
  padding-inline: 1rem;
}

.container-md {
  width: 100%;
  max-width: var(--breakpoint-md);
}





body {
  background: var(--background);
}